.navbar {
  display: flex;
  flex-direction: row;
}

.nav-right {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  font-size: 0.9rem;
  border: 1px solid var(--green);
  border-radius: 50px;
  cursor: pointer;
  width: 150px;
}

.profile-dropdown-btn:hover {
  background-color: var(--green-light);
}

.profile-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: url(/src/assets/img_profile.jpg);
  background-size: cover;
}

.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: var(--green);
}

.dropdown-list {
  top: 64px;
}

.profile-dropdown-list {
  top: 68px;
}

.profile-dropdown-list,
.dropdown-list {
  position: absolute;
  width: 220px;
  right: 0;
  background-color: var(--white-smoke);
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  max-height: 500px;
  border: 1px solid var(--green);
  transition: max-height 0.5s;
}

.profile-dropdown-list hr,
.dropdown-list hr {
  border: 0.5px solid var(--green);
}

.profile-dropdown-list-item,
.dropdown-list-item {
  padding: 0.5rem 0;
  transition: background-color 0.2s, padding-left 0.2s;
}

.dropdown-list-item {
  padding-left: 1rem;
}

.nav-item:hover {
  background-color: var(--green-light);
  border-radius: 10px;
}

.profile-dropdown-list-item:hover,
.dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: var(--green-light);
}

.profile-dropdown-list-item a,
.dropdown-list-item a {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: var(--black);
}

.profile-dropdown-list-item a i {
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--green);
  color: var(--white);
  line-height: 2.3rem;
  text-align: center;
  border-radius: 50%;
}

@media screen and (max-width: 700px) {
  .navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .nav-right {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
